.post-section {
    margin-bottom: 20px;
}

.post-card {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
}

.post-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.post-description {
    margin: 10px 0;
}

.barter-btn {
    background-color: #fff554;
    border: none;
    padding: 10px;
    border-radius: 10%;
    color: black;
    cursor: pointer;
}

.owner-buttons {
    display: flex;
    gap: 10px;
}

.edit-btn,
.delete-btn {
    padding: 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.edit-btn {
    background-color: #ffc107;
    color: black;
}

.delete-btn {
    background-color: #f44336;
    color: white;
}