.header-container {
    position: relative;
    top: 0;
    z-index: 1000;
    padding: 10px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

.search-bar {
    padding: 10px;
    width: 100%;
    min-width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.search-bar:focus {
    outline: none;
    border-color: #007bff;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: 90px;
    right: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown li {
    padding: 10px;
    cursor: pointer;
}

.dropdown li:hover {
    background-color: #f0f0f0;
}