.itemsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  justify-content: center;
}

.itemContainer {
  flex: 0 0 calc(33.333% - 30px);
  box-shadow: 0 4px 8px yellow;
  padding: 10px;
  background-color: #7aaaf7;
  border-radius: 35px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
}

.itemImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 30px;
}

.itemTitle {
  padding: 12px;
  margin: 0;
  text-align: center;
}

.buttonContainer {
  display: flex;
  padding: 12px;
  gap: 12px;
  justify-content: center;
}

.buttonContainer button {
  flex: 1 1 auto;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  box-shadow: 0 4px 8px black;
}

/* Swap button */
.swapButton {
  background: white;
}

/* Like button */
.likeButton {
  background: #f0f0f0;
}

.swapIcon {
  color: #7aaaf7;
  transition: all 0.3s ease;
  font-size: large;
}

.heartIcon {
  color: #7aaaf7;
  transition: all 0.3s ease;
}

.buttonContainer button:hover {
  background-color: yellow;
}

.buttonContainer .swapButton:hover .swapIcon {
  color: rgb(255, 40, 158);
  transform: scale(1.1);
}

.buttonContainer .likeButton:hover .heartIcon {
  color: rgb(255, 40, 158);
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .itemsGrid {
    grid-template-columns: 1fr; /* Single column on mobile */
  }
}


/* Mobile styles */
@media (max-width: 1024px) {
  .itemContainer {
    flex: 0 0 calc(50% - 30px);
  }
}

@media (max-width: 768px) {
  .itemsGrid {
    gap: 20px;
    padding: 10px;
  }

  .itemContainer {
    flex: 0 0 100%;
    min-width: auto;
    border-radius: 25px;
  }

  .itemImage {
    height: 180px;
  }

  .buttonContainer button {
    padding: 10px;
  }
}